nav{
    display: flex;
    background-color: rgb(22, 1, 1);
    justify-content: space-between;
    
}

#man{
    border: 1px solid black;
    justify-content: space-evenly;
    display: flex;
    width: 600px;
    align-items: center;
    color: white;
    

}
.dot:hover{
   border-style: solid;
   border-top: none;
   border-left: none;
   border-right: none;
   
}
#i{
    height: 50px;
    justify-content: start;
}

#nan{
    border: 1px solid black;
    justify-content: space-evenly;
    display: flex;
    width: 500px;
    align-items: center;
    color: white;
}
#one:hover{
     width: 250px;
     height: 350px;
    border: 10px solid white;
    transition-property: all;
    transition-duration: 0.9s;
    transition-delay: 0.6s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    border-radius: 20px;
    
}

